* {
  margin: 0;
  padding: 0;
}

#text {
  background-color: rgb(19, 102, 4);
  margin: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
#screen {
  color: white;
  text-align: right;
  padding: 1%;
  background-color: rgb(19, 102, 4);
  font-weight: bold;
  font-size: 20px;
  width: 70%;
  margin: 0 0 3% 15%;
}
button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(19, 102, 4);
  display: inline-block;
  width: 15%;
}

#buttons {
  margin-left: 15%;
}
#others {
  margin-left: 15%;
}
#btnDelete {
  margin-left: 10%;
  width: 30%;
}
#btnAddition {
  margin-left: 10%;
}
#btnMultiplication {
  margin-left: 10%;
}
#btn0 {
  width: 30%;
}
#btnEqual {
  margin-left: 10%;
  width: 30%;
}
